/* RESET de estilos */

/* Importación de la fuente para la portada*/
@font-face {
  font-family: 'SoccerFont';
  src: url('../../fonts/soccerFont.ttf')  format('truetype');
}

/* Para tener el máximo alto disponible */
html {
  height: 100%;
}
body {
  /*min-height: 100%;*/
  
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("../../images/background.jpg");
  background-color: #9dea3f45;
  background-blend-mode: screen;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.beginGame {
  diplay: flex;
  /*display: none;*/
}

.controls {
  display: flex;
  justify-content: space-around;
}

.title {
  font-family: 'SoccerFont', sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 25px 0;
}

.beginGame p {
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 25px;
  font-weight: 300;
  line-height: 50%;
}

.beginGame h3 {
  text-align: center;
  font-size: x-large;
}

.myGame {
  /*display: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

canvas {
  border: 2px solid black;
  width: calc( 100% - 50px );
  height: calc( 100vh - 50px );
}

body button {
  font-size: 30px;
  background-color: #567d46; /* DGG: color Grass Green */
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.redButton {
  display: flex;
  justify-content: center;
}

.endGame {
  /*display: none;*/
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lastButton {
  text-align: center;
}

.endGame h1 {
  font-size: 50px;
  text-align: center;
  /*width: 100%;
  height: 25%;*/
}

.endGame h2 {
  font-size: 30px;
  text-align: center;
  /*width: 100%;
  height: 25%;*/
}

.is-hidden {
  /*opacity: 0;*/
  /*pointer-events: none;*/
  display: none;
}

.is-shown {
  /*opacity: 0;*/
  /*pointer-events: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}