/* RESET de estilos */

/* Importación de la fuente para la portada*/
@font-face {
  font-family: 'SoccerFont';
  src: url('../../fonts/soccerFont.ttf')  format('truetype');
}

/* Para tener el máximo alto disponible */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  /*min-height: 100%;*/
  
  /*overflow: hidden;*/
  min-height: 90vh;
  background-image: url("../../images/background.jpg");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.beginGame {
  diplay: flex;
  /*display: none;*/
}

.controls {
  display: flex;
  justify-content: space-around;
}

.title {
  font-family: 'SoccerFont', sans-serif;
  font-size: 500%;
  text-align: center;
  padding: 25px 0;
}

.beginGame p {
  color: white;
  text-align: center;
  font-style: oblique;
  font-size: 25px;
  font-weight: 300;
  line-height: 50%;
}

.beginGame h3 {
  text-align: center;
  font-size: x-large;
}

.myGame {
  display: none;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

canvas {
  border: 2px solid black;
}

body button {
  font-size: 30px;
  background-color: #567d46; /* DGG: color Grass Green */
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.redButton {
  display: flex;
  justify-content: center;
}

.endGame {
  display: none;
}
