/* RESET de estilos */

/* Para tener el máximo alto disponible */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  /*min-height: 100%;*/
  min-height: 90vh;
}

.myGame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}

canvas {
  border: 2px solid black;
}